@media(max-width:1440px) {
    .hide{
        display:none;
    }
    .nohide{
        display:block;
    }
}
@media(max-width:1024px) {
    .hide{
        display:none;
    }
    .nohide{
        display:block;
    }
}
@media(max-width:824px) {
    .hide{
        display:inline;
    }
    .nohide{
        display:none;
    }
    .contacme{
        padding: 20px;
    }
}
@media(max-width:480px) {
    .hide{
        display:inline;
    }
    .nohide{
        display:none;
    }
    .contacme{
        padding: 10px;
    }
}