@media(max-width:1440px) {
    .hide{
        display:none;
    }
    .nohide{
        display:block;
    }
    .hero{
        flex-direction: column;
        height: 60vh;
    }
}
@media(max-width:1024px) {
    .hide{
        display:none;
    }
    .nohide{
        display:block;
    }
    .hero{
        flex-direction: column;
        height: 70vh;
    }
}
@media(max-width:824px) {
    .hide{
        display:inline;
    }
    .nohide{
        display:none;
    }
    .hero{
        flex-direction: column;
        height: 90vh;
    }
}
@media(max-width:480px) {
    .hide{
        display:inline;
    }
    .nohide{
        display:none;
    }
    header{
        flex-direction:row;
        padding: 10px 10px;
    }
    .search{
        flex-direction: row;
        align-items: end;
    }
    .hero{
        height: 80vh;
        padding: 20px 20px;
        flex-direction:column-reverse;
    }
    .social{
        flex-direction: row;
    }
    .about{
        flex-direction: column;
        align-items: center;
        height: 690px;
        padding: 20px 20px;
    }
    .about img{
        padding: 20px 20px;
    }
    .experience{
        /* padding: 0px 20px; */
        padding: 20px 20px;
    }
    .yearexperience{
        height: 135px;
    }
    .service{
        flex-direction: column;
        padding: 20px 30px;
        height: 600px; 
    }
    .boxservice{
        flex-direction: column;
        justify-content: space-around;
    }
    .itemservice{
        flex: 1 0 20%;
        margin-top: 10px;
    }
    .contacme{
        flex-direction: column;
        padding: 20px 20px;
    }
    .contactme-rigth{
        padding: 10px 10px;
        flex:1 0 50%;
    }
    .contactme-left{
        flex:1 0 50%;
        padding: 10px 10px;
    }    
    .Contribuitors{
        flex-direction: column;
        padding: 10px 10px;
    }
    .contact{
        padding: 20px 20px;
    }
    .portfolio{
        padding: 20px 20px;
    }
}