@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300..700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --primary-bg-color:#f9f4ea;
    --secondary-bg-color:#f1eadc;
    --hover-bg-color:#0000;
    --box-bg-color:white;
    --icon-color:black;
    --button-bg-color:#f76b69;
    --button-text-color:white;
  }
  
*{
    margin: 0px;
    padding: 0px;
    font-family: "Akshar", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #494949;
    font-size: medium;
}

.hide{
    display: none;
}
.nohide{
    display: block;
}

header{
    background-color:var(--primary-bg-color);
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    padding: 10px 200px;
}

nav a{
    margin-right: 15px;
}
.search i{
    padding: 8px 8px;
}
.search i:hover{
    color:#a19474;
}
a{
    text-decoration: none;
}
a:hover{
    color:#a19474;
}
/* Hero */
.hero{
    display: flex;
    background-color: #f1eadc;
    justify-content:center;
    align-items: stretch;
    height: 60vh;
    padding: 10px 200px;
}
.hero span{
    color:#f76b69;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-basis: 60%;
    padding: 10px;
    /* background-color: #f76b69; */
}
.left img{
    background-size: cover;
    
}
.left p{
    text-align: justify;
    margin-top: 20px;
    font-size: 18px;
}
.rigth{
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    justify-content: center;
    align-items: center;
    /* background-color: #a19474; */
}
.rigth img{
    background-size: cover;
}
.social{
    display: flex;
    padding-top: 10px;
}
.social i{
    font-size: 28px;
    color: var(--icon-color);
    padding: 20px 20px;
}
/* Fin Hero */
/* about me */
.about{
    display: flex;
    /* justify-content:space-between; */
    align-items:center;
    height: 450px;
    background-color:var(--primary-bg-color);
    padding: 10px 200px;
}
.experience{
    padding-left: 100px;
}
.experience span{
    color:#f76b69;
}
.experience p{
    padding-top: 10px;
}
.experience h1{
    padding-top: 10px;
}
.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    padding-top: 30px;
}
.yearexperience{
    height: 100px;
    width: 170px;
    background-color:white;
    padding-left: 20px;
}
/* end about me */
/* Footer */
footer{
    background-color: var(--secondary-bg-color);
    text-align: center;
}
/* Fin Footer */